<?xml version='1.0' encoding='UTF-8'?>
<hudson>
  <disabledAdministrativeMonitors>
    <string>jenkins.security.RekeySecretAdminMonitor</string>
  </disabledAdministrativeMonitors>
  <version>1.514</version>
  <numExecutors>8</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.ProjectMatrixAuthorizationStrategy">
    <permission>hudson.model.Computer.Configure:ci-admins</permission>
    <permission>hudson.model.Computer.Connect:ci-admins</permission>
    <permission>hudson.model.Computer.Create:ci-admins</permission>
    <permission>hudson.model.Computer.Delete:ci-admins</permission>
    <permission>hudson.model.Computer.Disconnect:ci-admins</permission>
    <permission>hudson.model.Hudson.Administer:ci-admins</permission>
    <permission>hudson.model.Hudson.ConfigureUpdateCenter:ci-admins</permission>
    <permission>hudson.model.Hudson.Read:anonymous</permission>
    <permission>hudson.model.Hudson.Read:ci-admins</permission>
    <permission>hudson.model.Hudson.Read:ci-can-run-jobs</permission>
    <permission>hudson.model.Hudson.Read:ci-moderators</permission>
    <permission>hudson.model.Hudson.Read:jira-users</permission>
    <permission>hudson.model.Hudson.Read:julik</permission>
    <permission>hudson.model.Hudson.RunScripts:ci-admins</permission>
    <permission>hudson.model.Hudson.RunScripts:ci-moderators</permission>
    <permission>hudson.model.Hudson.UploadPlugins:ci-admins</permission>
    <permission>hudson.model.Item.Build:ci-admins</permission>
    <permission>hudson.model.Item.Build:ci-can-run-jobs</permission>
    <permission>hudson.model.Item.Build:ci-moderators</permission>
    <permission>hudson.model.Item.Cancel:ci-admins</permission>
    <permission>hudson.model.Item.Cancel:ci-can-run-jobs</permission>
    <permission>hudson.model.Item.Cancel:ci-moderators</permission>
    <permission>hudson.model.Item.Configure:ci-admins</permission>
    <permission>hudson.model.Item.Configure:ci-moderators</permission>
    <permission>hudson.model.Item.Create:ci-admins</permission>
    <permission>hudson.model.Item.Create:ci-moderators</permission>
    <permission>hudson.model.Item.Delete:ci-admins</permission>
    <permission>hudson.model.Item.Discover:anonymous</permission>
    <permission>hudson.model.Item.Discover:ci-admins</permission>
    <permission>hudson.model.Item.Discover:ci-can-run-jobs</permission>
    <permission>hudson.model.Item.Discover:ci-moderators</permission>
    <permission>hudson.model.Item.Discover:julik</permission>
    <permission>hudson.model.Item.ExtendedRead:ci-admins</permission>
    <permission>hudson.model.Item.ExtendedRead:ci-moderators</permission>
    <permission>hudson.model.Item.Read:ci-admins</permission>
    <permission>hudson.model.Item.Read:ci-can-run-jobs</permission>
    <permission>hudson.model.Item.Read:ci-moderators</permission>
    <permission>hudson.model.Item.Read:julik</permission>
    <permission>hudson.model.Item.Workspace:ci-admins</permission>
    <permission>hudson.model.Item.Workspace:ci-can-run-jobs</permission>
    <permission>hudson.model.Item.Workspace:ci-moderators</permission>
    <permission>hudson.model.View.Configure:ci-admins</permission>
    <permission>hudson.model.View.Create:ci-admins</permission>
    <permission>hudson.model.View.Delete:ci-admins</permission>
    <permission>hudson.model.View.Read:anonymous</permission>
    <permission>hudson.model.View.Read:ci-admins</permission>
    <permission>hudson.scm.SCM.Tag:ci-admins</permission>
  </authorizationStrategy>
  <securityRealm class="de.theit.jenkins.crowd.CrowdSecurityRealm" plugin="crowd2@1.8">
    <url>http://crowd.jtalks.org/crowd</url>
    <applicationName>jenkins</applicationName>
    <password>hgjd8rh#45</password>
    <group>jira-users</group>
    <nestedGroups>false</nestedGroups>
    <useSSO>true</useSSO>
    <sessionValidationInterval>2</sessionValidationInterval>
    <cookieDomain>.jtalks.org</cookieDomain>
    <cookieTokenkey>crowd.token_key</cookieTokenkey>
    <useProxy>false</useProxy>
    <httpProxyHost></httpProxyHost>
    <httpProxyPort></httpProxyPort>
    <httpProxyUsername></httpProxyUsername>
    <httpProxyPassword></httpProxyPassword>
    <socketTimeout>20000</socketTimeout>
    <httpTimeout>5000</httpTimeout>
    <httpMaxConnections>20</httpMaxConnections>
  </securityRealm>
  <projectNamingStrategy class="jenkins.model.ProjectNamingStrategy$DefaultProjectNamingStrategy"/>
  <workspaceDir>${ITEM_ROOTDIR}/workspace</workspaceDir>
  <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
  <systemMessage>Builds for JTalks apps: &lt;b&gt;&lt;a href=&quot;https://github.com/jtalks-org/poulpe&quot;&gt;Poulpe&lt;/a&gt;, &#xd;
&lt;a href=https://github.com/jtalks-org/jcommune&gt;JC (JCommune)&lt;/a&gt;, &#xd;
&lt;a href=&quot;https://github.com/jtalks-org/antarcticle-scala&quot;&gt;Antarcticle&lt;/a&gt;&lt;br&gt;&lt;/b&gt;&#xd;
&lt;a href=&quot;https://github.com/jtalks-org/jtalks-common&quot;&gt;Common (JTalks Common)&lt;/a&gt; - modules that contain common entities and SQL migrations.&lt;br&gt;&#xd;
SM (Server Management) - builds to redeploy servers, backup/restore databases.&#xd;
</systemMessage>
  <markupFormatter class="hudson.markup.RawHtmlMarkupFormatter">
    <disableSyntaxHighlighting>false</disableSyntaxHighlighting>
  </markupFormatter>
  <jdks>
    <jdk>
      <name>Java 1.7</name>
      <home>/usr/lib/jvm/java</home>
      <properties/>
    </jdk>
  </jdks>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds/>
  <slaves/>
  <quietPeriod>5</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>JCommune</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>JC. Func Tests. Full Regression</string>
        <string>JC. Run-Tests-If-Branch-Changed</string>
        <string>JC. To Performance</string>
        <string>JC. W3C Validation</string>
        <string>JC. W3C Validation. Win2008 + Firefox</string>
        <string>JC. W3C Validation. Win2012 + Chrome</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <jenkins.plugins.extracolumns.LastBuildConsoleColumn plugin="extra-columns@1.8"/>
        <jenkins.plugins.extracolumns.ConfigureProjectColumn plugin="extra-columns@1.8"/>
        <hudson.views.BuildButtonColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastDurationColumn/>
        <jenkins.plugins.extracolumns.TestResultColumn plugin="extra-columns@1.8">
          <testResultFormat>1</testResultFormat>
        </jenkins.plugins.extracolumns.TestResultColumn>
        <jenkins.plugins.extracolumns.DescriptionColumn plugin="extra-columns@1.8">
          <displayName>false</displayName>
          <trim>true</trim>
          <displayLength>1</displayLength>
        </jenkins.plugins.extracolumns.DescriptionColumn>
      </columns>
      <includeRegex>JC.*</includeRegex>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Poulpe</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <jenkins.plugins.extracolumns.LastBuildConsoleColumn plugin="extra-columns@1.8"/>
        <jenkins.plugins.extracolumns.ConfigureProjectColumn plugin="extra-columns@1.8"/>
        <hudson.views.BuildButtonColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastDurationColumn/>
        <jenkins.plugins.extracolumns.TestResultColumn plugin="extra-columns@1.8">
          <testResultFormat>1</testResultFormat>
        </jenkins.plugins.extracolumns.TestResultColumn>
        <jenkins.plugins.extracolumns.DescriptionColumn plugin="extra-columns@1.8">
          <displayName>false</displayName>
          <trim>true</trim>
          <displayLength>1</displayLength>
        </jenkins.plugins.extracolumns.DescriptionColumn>
      </columns>
      <includeRegex>Poulpe.*</includeRegex>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Server Managment</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView[2]/jobNames/comparator"/>
        <string>SM. DEV. Fill Sample Data</string>
        <string>SM. DEV. Recreate Database</string>
        <string>SM. Install Pochta</string>
        <string>SM. Jenkins configuration backup</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <jenkins.plugins.extracolumns.LastBuildConsoleColumn plugin="extra-columns@1.8"/>
        <jenkins.plugins.extracolumns.ConfigureProjectColumn plugin="extra-columns@1.8"/>
        <hudson.views.BuildButtonColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastDurationColumn/>
        <jenkins.plugins.extracolumns.DescriptionColumn plugin="extra-columns@1.8">
          <displayName>false</displayName>
          <trim>false</trim>
          <displayLength>1</displayLength>
        </jenkins.plugins.extracolumns.DescriptionColumn>
      </columns>
      <includeRegex>SM.*</includeRegex>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Common</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../listView[2]/jobNames/comparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <jenkins.plugins.extracolumns.LastBuildConsoleColumn plugin="extra-columns@1.8"/>
        <hudson.views.BuildButtonColumn/>
        <jenkins.plugins.extracolumns.ConfigureProjectColumn plugin="extra-columns@1.8"/>
        <hudson.views.JobColumn/>
        <hudson.views.LastDurationColumn/>
        <jenkins.plugins.extracolumns.TestResultColumn plugin="extra-columns@1.8">
          <testResultFormat>1</testResultFormat>
        </jenkins.plugins.extracolumns.TestResultColumn>
        <jenkins.plugins.extracolumns.DescriptionColumn plugin="extra-columns@1.8">
          <displayName>false</displayName>
          <trim>false</trim>
          <displayLength>1</displayLength>
        </jenkins.plugins.extracolumns.DescriptionColumn>
      </columns>
      <includeRegex>Common.*</includeRegex>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Antarcticle</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>Ant. To Dev</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <jenkins.plugins.extracolumns.LastBuildConsoleColumn plugin="extra-columns@1.8"/>
        <jenkins.plugins.extracolumns.ConfigureProjectColumn plugin="extra-columns@1.8"/>
        <hudson.views.BuildButtonColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastDurationColumn/>
        <jenkins.plugins.extracolumns.DescriptionColumn plugin="extra-columns@1.8">
          <displayName>false</displayName>
          <trim>false</trim>
          <displayLength>1</displayLength>
        </jenkins.plugins.extracolumns.DescriptionColumn>
      </columns>
      <includeRegex>Ant.*</includeRegex>
      <recurse>false</recurse>
    </listView>
    <au.com.centrumsystems.hudson.plugin.buildpipeline.BuildPipelineView plugin="build-pipeline-plugin@1.3.3">
      <owner class="hudson" reference="../../.."/>
      <name>JCommune. Pipeline</name>
      <description>The steps JCommune should go through starting from commit and finishing with deploying to PROD. At the start of pipeline the war file is created and the same war file is used on every env.</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <selectedJob>JC. Unit Tests</selectedJob>
      <noOfDisplayedBuilds>10</noOfDisplayedBuilds>
      <buildViewTitle>JCommune Pipeline</buildViewTitle>
      <triggerOnlyLatestJob>false</triggerOnlyLatestJob>
      <alwaysAllowManualTrigger>true</alwaysAllowManualTrigger>
      <showPipelineParameters>false</showPipelineParameters>
      <refreshFrequency>1</refreshFrequency>
      <showPipelineDefinitionHeader>true</showPipelineDefinitionHeader>
      <displayProgressBar>false</displayProgressBar>
    </au.com.centrumsystems.hudson.plugin.buildpipeline.BuildPipelineView>
    <au.com.centrumsystems.hudson.plugin.buildpipeline.BuildPipelineView plugin="build-pipeline-plugin@1.3.3">
      <owner class="hudson" reference="../../.."/>
      <name>Poulpe. Pipeline</name>
      <description>The steps the Poulpe should go through starting from commit and finishing with deploying to PROD. At the start of pipeline the war file is created and the same war file is used on every env.</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <selectedJob>Poulpe. Run Unit Tests</selectedJob>
      <noOfDisplayedBuilds>10</noOfDisplayedBuilds>
      <buildViewTitle>Pouple Pipeline</buildViewTitle>
      <triggerOnlyLatestJob>false</triggerOnlyLatestJob>
      <alwaysAllowManualTrigger>true</alwaysAllowManualTrigger>
      <showPipelineParameters>false</showPipelineParameters>
      <refreshFrequency>1</refreshFrequency>
      <showPipelineDefinitionHeader>true</showPipelineDefinitionHeader>
      <displayProgressBar>false</displayProgressBar>
    </au.com.centrumsystems.hudson.plugin.buildpipeline.BuildPipelineView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>All</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>Ant. To PREPROD</string>
        <string>Ant. To PROD</string>
        <string>JC. Func Tests</string>
        <string>JC. Functional Tests. HtmlUnit</string>
        <string>JC. Functional Tests. iPad + Safari</string>
        <string>JC. Functional Tests. Linux + Firefox</string>
        <string>JC. Functional Tests. Win2012 + Chrome</string>
        <string>JC. Run Load Tests - 3 users</string>
        <string>JC. To BeginInTesting</string>
        <string>JC. W3C Validation. iPad + Safari</string>
        <string>JTalksSite. To DEV</string>
        <string>JTalksSite. To PROD</string>
        <string>Pochta. Unit Tests</string>
        <string>Poulpe. To AUTOTESTS</string>
        <string>Poulpe. To BeginInTesting</string>
        <string>Tort. Unit Tests</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <jenkins.plugins.extracolumns.LastBuildConsoleColumn plugin="extra-columns@1.8"/>
        <jenkins.plugins.extracolumns.ConfigureProjectColumn plugin="extra-columns@1.8"/>
        <hudson.views.BuildButtonColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastDurationColumn/>
        <jenkins.plugins.extracolumns.DescriptionColumn plugin="extra-columns@1.8">
          <displayName>false</displayName>
          <trim>true</trim>
          <displayLength>1</displayLength>
        </jenkins.plugins.extracolumns.DescriptionColumn>
      </columns>
      <includeRegex>.*</includeRegex>
      <recurse>false</recurse>
    </listView>
    <au.com.centrumsystems.hudson.plugin.buildpipeline.BuildPipelineView plugin="build-pipeline-plugin@1.3.3">
      <owner class="hudson" reference="../../.."/>
      <name>Antarcticle. Pipeline</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <selectedJob>Ant. Run Tests</selectedJob>
      <noOfDisplayedBuilds>10</noOfDisplayedBuilds>
      <buildViewTitle></buildViewTitle>
      <triggerOnlyLatestJob>false</triggerOnlyLatestJob>
      <alwaysAllowManualTrigger>true</alwaysAllowManualTrigger>
      <showPipelineParameters>false</showPipelineParameters>
      <refreshFrequency>10</refreshFrequency>
      <showPipelineDefinitionHeader>true</showPipelineDefinitionHeader>
      <displayProgressBar>false</displayProgressBar>
    </au.com.centrumsystems.hudson.plugin.buildpipeline.BuildPipelineView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Tools And Libs</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>Pochta. Release</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <jenkins.plugins.extracolumns.LastBuildConsoleColumn plugin="extra-columns@1.8"/>
        <jenkins.plugins.extracolumns.ConfigureProjectColumn plugin="extra-columns@1.8"/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <includeRegex>(Tort|Pochta).*</includeRegex>
      <recurse>false</recurse>
    </listView>
  </views>
  <primaryView>All</primaryView>
  <slaveAgentPort>0</slaveAgentPort>
  <label></label>
  <nodeProperties/>
  <globalNodeProperties>
    <hudson.slaves.EnvironmentVariablesNodeProperty>
      <envVars serialization="custom">
        <unserializable-parents/>
        <tree-map>
          <default>
            <comparator class="hudson.util.CaseInsensitiveComparator"/>
          </default>
          <int>28</int>
          <string></string>
          <string></string>
          <string>BACKUP_DB</string>
          <string>/home/jenkins/backup/db</string>
          <string>BACKUP_WAR</string>
          <string>/home/jenkins/backup/war</string>
          <string>DEV_BACKUP_DIR</string>
          <string>/home/tomcat/app_backups</string>
          <string>DEV_IP</string>
          <string>176.9.66.108</string>
          <string>DEV_JTALKS_GROUP</string>
          <string>jtalks</string>
          <string>DEV_JTALKS_USER</string>
          <string>jtalks</string>
          <string>DEV_MYSQL_USER</string>
          <string>root</string>
          <string>DEV_SSH</string>
          <string>tomcat@176.9.66.108</string>
          <string>DEV_SSH_JTALKS</string>
          <string>jtalks@176.9.66.108</string>
          <string>DEV_TOMCAT_DEPLOY</string>
          <string>/home/tomcat/app/tomcat-deploy/webapps</string>
          <string>DEV_TOMCAT_DIR</string>
          <string>/home/tomcat/app</string>
          <string>DEV_TOMCAT_GROUP</string>
          <string>tomcat</string>
          <string>DEV_TOMCAT_JAVATALKS</string>
          <string>/home/tomcat/app/tomcat-javatalks/webapps</string>
          <string>DEV_TOMCAT_UAT</string>
          <string>/home/tomcat/app/tomcat-uat/webapps</string>
          <string>DEV_TOMCAT_USER</string>
          <string>tomcat</string>
          <string>PATH</string>
          <string>/usr/bin:/usr/sbin:/bin</string>
          <string>PROD_BACKUP_DIR</string>
          <string>/home/jtalks/apps_backup</string>
          <string>PROD_GROUP</string>
          <string>jtalks</string>
          <string>PROD_IP</string>
          <string>213.239.201.68</string>
          <string>PROD_JCOMMUNE_DIR</string>
          <string>/home/jtalks/apps/jcommune/tomcat-jcommune/webapps</string>
          <string>PROD_MYSQL_USER</string>
          <string>root</string>
          <string>PROD_POULPE_DIR</string>
          <string>/home/jtalks/apps/poulpe/tomcat-poulpe/webapps</string>
          <string>PROD_SSH</string>
          <string>jtalks@213.239.201.68</string>
          <string>PROD_USER</string>
          <string>jtalks</string>
          <string>SSH_TO_POCHTA</string>
          <string>pochta@176.9.66.108</string>
          <string>SSH_TO_SITE</string>
          <string>site@176.9.66.108</string>
          <string>TEST_SERVER_ANTARCTICLE_SSH</string>
          <string>antarcticle@5.9.40.180</string>
          <string>TEST_SERVER_TOMCAT_SSH</string>
          <string>tomcat@5.9.40.180</string>
        </tree-map>
      </envVars>
    </hudson.slaves.EnvironmentVariablesNodeProperty>
  </globalNodeProperties>
</hudson>